:root {
  --white: 255, 255, 255;
  --blue: 63, 189, 228;
  --black: 0, 0, 0;
  --purple: 74, 59, 116;
  --light: 235, 228, 255;
}

html {
  min-height: 100%;
  background: linear-gradient(135deg, rgb(var(--blue)), rgb(var(--purple)));
  
}

body {
  padding:3rem 0;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

main {
  background: linear-gradient(135deg, rgba(var(--light), .9), rgba(var(--blue), .9));
  padding: clamp(1rem, 5vw, 3rem);
  border-radius: max(2rem, 3vw);
  box-shadow: 0px 0px 50px 0 rgba(var(--white), .3);
  width: 300px;
}

a {
  color: black;
  background: rgba(var(--white), .3);
  padding: .7rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  transition: all .2s;
  position: relative;
  display: flex;
  align-items: center;
}

a .fab,
a .far,
a .fas {
  position: absolute;
  opacity: 0;
  transition: opacity .2s;
}

a span {
  padding-left: 0;
  transition: all .2s;
}

a:hover,
a:focus {
  background: rgba(var(--white), .8);
  box-shadow: 0px 0px 5px 0 rgba(var(--white), .8), 0px 0px 10px 0 rgba(var(--white), .8);
}

a:hover .fab,
a:hover .far,
a:hover .fas,
a:focus .fab,
a:focus .far,
a:focus .fas {
  opacity: 1;
  transition-delay: .1s;
}

a:hover span,
a:focus span {
  padding-left: 1.3rem;
}


h1 {
  display: flex;
  justify-content: center;
  margin: 0;
}

h1 img {
  width: 80%;
  bottom: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.links > span {
  margin-bottom: .5rem;
  background: linear-gradient(135deg, rgba(var(--light), .7), rgba(var(--blue), .7));
  border-radius: 1rem;
}

.links > span:last-child {
  margin-bottom: 0;
}