$black: #000;
$white: #fff;
$blue: #3fbde4;

@mixin font-icon {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal!important;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
	body {
		font-family: 'Montserrat', sans-serif;
		color: $white;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		background-image: url('../img/joakim-borg.jpg');
		background-color: $black;
		background-size: contain;
		-moz-background-size: contain;
		-webkit-background-size: contain;
		-o-background-size: contain;
		background-position: left bottom;
		background-repeat: no-repeat;
		font-size: 1.6vw;
    
    @media only screen and (max-width: 768px) {
      font-size: 4vw;
    }
		
		a {
			color: $blue;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
		
		main {
			min-width: 35vw;
			float: right;
			margin: 4vw 6vw;
      
      @media only screen and (max-width: 1160px) {
        width: 30vw;
      }

			@media only screen and (max-width: 768px) {
				min-width: 90%;
				width: 90%;
				margin: 0;
				padding: 5%;
				position: fixed;
				bottom: 0;
				background: rgba($black, .8);

				header {
					h1 {
						margin-top: 0;
            margin-bottom: 2vw;
						
						img {
							@media only screen and (max-width: 768px) {
								width: 50%;
							}
						}
					}
				}
			}

			article {
				header {
					h2 {
						display: none;
					}
				}
        
        a {
          display: block;
          margin: .5vw 0;
          
          @media only screen and (max-width: 768px) {
            margin: 1vw 0;
          }
        }

				a, span {
					&:before {
						@include font-icon;
						margin-right: 1.5vw;
						display: inline-block;
					}
				}

				.mail {
					&:before {
						content: "\f0e0";
					}
				}

				.phone {
					&:before {
						content: "\f095";
					}
				}

				.linkedin {
					&:before {
						content: "\f08c";
					}
				}
        
        .js-fiddle {
					&:before {
						content: "\f1cc";
					}
				}
        
        .behance {
					&:before {
						content: "\f1b4"; /**/
					}
				}
        
        f1b4

				h1 {
					font-weight: normal;
					font-family: 'Oswald', sans-serif;
					text-transform: uppercase;
					font-size: 1.5em;

				}
			}
		}
	}
}